/node_modules
/storage
/public/hot
/public/storage
/storage/*.key
/vendor
/downloads/*
/uploads/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/tests
fer-api.zip
env.zip
package-lock.json
/downloads
/uploads
